* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-size: 1rem;
}
div.header-container {
  width: 100%;
  height: 112px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000f3c;
}
div.logo {
  float: left;
  height: 72px;
  width: 300px;
}
nav ul {
  display: flex;
  gap: 50px;
}
nav ul li {
  list-style: none;
  position: relative;
}
nav a {
  text-decoration: none;
  color: yellowgreen;
  font-size: 20px;
}
nav a:hover,
nav a:focus {
  color: yellowgreen;
}
nav a::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: aqua;
  transition: width 0.3s ease;
}
nav a:hover::after,
nav a:focus::after {
  width: 100%;
}
button {
  border: none;
  background-color: transparent;
  font-family: inherit;
}
.ButtonForDonate {
  padding: 10px;
  width: 250px;
  background-color: #ff3c10;
  color: black;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  display: inline-block;
  border-radius: 100px;
}
.ButtonForDonate:hover {
  background: linear-gradient(to bottom, #ff3c10, #ffa710);
  animation: button-particles 1s ease-in-out infinite;
}
/* ------------------------------------------------------------ */
.GetInvolvedCover {
  height: 85vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("GetInvolved.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}
.GetInvolvedCover h1 {
  font-size: 85px;
  color: ghostwhite;
  text-shadow: 2px 2px 4px rgb(154, 205, 50, 0.5);
}
.MainContainer {
  width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
.MainContainer h1 {
  font-size: 30px;
  margin-bottom: 0px;
  padding: 10px;
  text-decoration: underline;
}
.MainContainer p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.btn {
  background-color: #ff3c10;
  padding: 14px 40px;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 100px;
  border: 2px dashed #ff3c10;
  transition: 0.4s;
}
.btn a{
  text-decoration: none;
  color: inherit; 
}
.btn:hover {
  transition: 0.4s;
  border: 2px dashed #ff3c10;
  background-color: #fff;
  color: #ff3c10;
}
/* ------------------------------------------------------------ */
div.footer-container {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #006c07;
  color: white;
}
div.footer-container ul {
  list-style: none;
}
div.footer-container ul li {
  margin-bottom: 10px;
}
div.footer-container ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
div.footer-container ul li a img {
  margin-right: 10px;
}
div.footer-container ul li a:hover {
  text-shadow: 0 0 5px white;
}
.newsletter form {
  display: flex;
}
.newsletter input {
  flex: 1;
  padding: 5px;
  border: none;
}
.newsletter button {
  padding: 8px 20px;
  background-color: #c8fc4f;
  color: #173803;
  border: none;
  cursor: pointer;
}
.newsletter button:hover {
  background-color: #d4f588;
}
.copyright {
  background-image: none;
  text-align: center;
  margin-top: 20px;
}
