* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-size: 1rem;
}
div.header-container {
  width: 100%;
  height: 112px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000f3c;
}
div.logo {
  float: left;
  height: 72px;
  width: 300px;
}
nav ul {
  display: flex;
  gap: 50px;
}
nav ul li {
  list-style: none;
  position: relative;
}
nav a {
  text-decoration: none;
  color: #00ff00;
  font-size: 20px;
}
nav a::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: aqua;
  transition: width 0.3s ease;
}
nav a:hover::after,
nav a:focus::after {
  width: 100%;
}
/* ul:hover li:not(:hover){
  filter: blur(0.5px); 
} */
button {
  border: none;
  background-color: transparent;
  font-family: inherit;
}
.ButtonForDonate {
  padding: 10px;
  width: 250px;
  background-color: #ff3c10;
  color: black;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  display: inline-block;
  border-radius: 100px;
}
.ButtonForDonate:hover {
  background: linear-gradient(to bottom, #ff3c10, #ffa710);
  animation: button-particles 1s ease-in-out infinite;
}
/* ---------------------------------- */
main {
  background-color: #000f3c;
}
.coverpage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Waterfall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 85vh;
  padding: 200px 100px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
@keyframes flyInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.coverpage section h1,
.coverpage section h3,
.coverpage section p {
  animation: flyInFromLeft 1.25s ease forwards;
}
/* ---------------------------------- */
.BelowCoverpage {
  padding: 30px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}
.BelowCoverpage h1 {
  border-bottom: 5px solid black;
  padding-bottom: 2px;
  width: 310px;
  margin: 20px auto;
}
.BelowCoverpage p {
  line-height: 1.2;
}
.BelowCoverpage button {
  --color: #ff3c10;
  font-family: inherit;
  width: 180px;
  line-height: 2;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 20px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 100px;
  position: relative;
}
.BelowCoverpage button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 300px;
  height: 200px;
  z-index: -1;
  border-radius: 50px;
}
.BelowCoverpage button:hover {
  color: white;
}
.BelowCoverpage button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}
.BelowCoverpage button:hover::before {
  top: -30px;
  left: -30px;
}
.carousel-container {
  position: relative;
  width: 80vw;
  margin: 60px auto;
  height: 70vh;
  overflow: hidden;
  border: white 3px solid;
  background-color: white;
  transition: all 0.8s ease;
}

.carousel-container ul li {
  width: 25%;
  display: block;
  float: left;
  position: relative;
  border-left: 2px solid white;
  height: 70vh;
  transition: all 0.5s ease, opacity 0.2s ease;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  backface-visibility: visible;
}
.carousel-container ul li img {
  width: 50vw;
  height: inherit;
  object-fit: cover;
  object-position: center 20%;
}
.CarouselTitle {
  transition: all 0.5s ease-in;
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 50vw;
  display: block;
  background-color: rgba(89, 89, 89, 0.9);
}
.CarouselTitle h2 {
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  padding: 20px;
  color: white;
}
.carousel-container ul li:hover .CarouselTitle {
  height: 100%;
  background-color: rgba(89, 89, 89, 0.4);
}
.carousel-container ul li:hover .CarouselTitle p {
  opacity: 1;
  width: 30vw;
  padding-left: 20px;
  font-size: 16px;
  color: whitesmoke;
}
.carousel-container:hover {
  box-shadow: 6px 6px 10px 5px grey;
  transform: scale(1.1, 1.1);
}
.carousel-container ul:hover li {
  width: 10vw;
}
.carousel-container ul li:hover {
  width: 40vw;
  opacity: 1;
}
.carousel-container p {
  opacity: 0;
}
.insights {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  width: 80vw;
}
.insights section {
  width: 25vw;
  padding: auto 20px;
}
.insights img {
  display: block;
  width: 100%;
  height: 40vh;
  border-bottom: 5px solid white;
}
.insights p {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: whitesmoke;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
}
.lastpart {
  padding: 30px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lastpart h1 {
  padding-bottom: 2px;
  width: 440px;
  margin: 20px auto;
  border-bottom: 5px solid #000;
  display: inline-block;
  font-size: 30px;
}
.lastpart p {
  width: 50vw;
  line-height: 1.5;
  font-size: 20px;
  text-align: center;
}
.lastpart h6 {
  margin-top: 20px;
  font-size: 20px;
  display: inline-block;
}
.lastpart a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

/* ---------------------------------- */
div.footer-container {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #006c07;
  color: white;
}
.footer-container h3 {
  font-size: 22px;
}
div.footer-container ul {
  list-style: none;
}
div.footer-container ul li {
  margin-bottom: 10px;
}
div.footer-container ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 18px;
}
div.footer-container ul li a img {
  margin-right: 10px;
}
div.footer-container ul li a:hover {
  text-shadow: 0 0 5px white;
}
.newsletter form {
  display: flex;
}
.newsletter input {
  flex: 1;
  padding: 5px;
  border: none;
}
.newsletter button {
  padding: 8px 20px;
  background-color: #c8fc4f;
  color: #173803;
  border: none;
  cursor: pointer;
}
.newsletter button:hover {
  background-color: #d4f588;
}
.copyright {
  background-image: none;
  text-align: center;
  margin-top: 20px;
}
